

* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;

}

body {
	width:960px;
	background-color: #777;
}


h1 {
	font-weight: bolder;
	

}

h2 {
	color:red;
	font-weight: normal;
}

h3 {
	color:blue;
	text-transform: uppercase;
 	font-weight: normal;
  
}

h1, h2, h3 {
	width:50%;
	height:25px;
	margin: 1px;
	padding:0;
	display:inline;
}


p {
	color:green;

}

header {
  padding: 20px;
  margin-right: auto;
  margin-left:auto;
  margin-bottom: 10px;
  color: #333;
  background: #ebebeb;

}

#nav{
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
	background:#ebebeb;

}

#section{
	padding:20px;
	width:495px;
	height: 300px;
	margin-right: 20px;
	color: #333;
	background-color:#ebebeb;
	float:left;
	
}

#article{
	position:absolute;
	background-color: #777;
	width:445px;
	height: 200px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
	z-index: 1;
	
}

#headings {
	position: absolute;
	top:75px;
	margin-left: 20px;
	color:#333;
	width:400px;
	background-color: #ebebeb;
	z-index: 2;
	
}

#paragraphs{
	position: absolute;
	margin-top: 8px;
	width:400px;
	height: 50px;
	color:#333;
	background-color:#ebebeb;
	z-index: 3;
}

#aside{
	padding:20px;
	width:445px;
	height: 300px;
	color:#333;
	background-color:#ebebeb;
	margin-bottom: 20px;
	float:right;


}
footer {
	position:absolute;
	bottom:100px;
	width:960px;
	margin-top:auto;	
	height: 60px;
  	 color: #333;
     background: #ebebeb;
}